<!-- templates/home/about.html -->
{% extends 'base.html' %}  <!-- 继承根目录的 base.html -->

{% block content %}

<div class="text-center mb-10">
    <h1 class="text-3xl font-bold">关于我们</h1>
    <div class="w-24 h-1 bg-accent mx-auto mt-3 rounded-full"></div>
</div>


<div class="mt-8 max-w-3xl mx-auto">
    <h2 class="text-2xl font-semibold mb-4 text-center"></h2>
    <p class="mb-4">宋词雅韵是一个专注于古典文学传承与推广的智能服务平台，致力于让更多人感受宋词的魅力。</p>
    <p>我们汇集了海量宋词作品，提供专业的注释解析、词牌格律查询等功能，为诗词爱好者搭建一个学习与交流的平台。</p>
</div>
{% endblock %}